/*ALL THE FLEX GODNESS*/
.d-flex {
    display: flex;
}


/************
****FLEX*****
************/

/* Make it wider*/
.flex-grow {
    flex-grow: 1;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

/*Aling & Justify*/
.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}