/*ALL THE FLEX GODNESS*/
.d-flex {
    display: flex;
}
/* Make it wider*/
.flex-grow {
    flex-grow: 1;
}

/*Aling & Justify*/
.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}