/*Height for the colored lines*/
.bar-height {
    height: .3rem;
}

/*Set the max width for the element*/
.max-width {
    max-width: 192rem;
}

.max-width-50 {
    max-width: 50%;
}

.card-width {
    max-width: 60rem;
}

/*Margin*/
.mr-auto, .mx-auto {margin-right: auto;}
.ml-auto, .mx-auto {margin-left: auto;}

.m-6 {margin: var(--distance-6);}
.m-15 {margin: var(--distance-15);}

.mt-0, .my-0{ margin-top: var(--distance-0); } /* 0rem */
.mb-0, .my-0{ margin-bottom: var(--distance-0); }
.mt-1, .my-1{ margin-top: var(--distance-1); } /* .25rem */
.mb-1, .my-1{ margin-bottom: var(--distance-1);}
.mt-2, .my-2{ margin-top: var(--distance-2); } /* .5rem */
.mb-2, .my-2{ margin-bottom: var(--distance-2);}
.mt-3, .my-3{ margin-top: var(--distance-3); } /* .75rem */
.mb-3, .my-3{ margin-bottom: var(--distance-3);}
.mt-4, .my-4{ margin-top: var(--distance-4); } /* 1rem */
.mb-4, .my-4{ margin-bottom: var(--distance-4);}
.mt-6, .my-6{ margin-top: var(--distance-6); } /* 1.5rem */
.mb-6, .my-6{ margin-bottom: var(--distance-6);}
.mt-8, .my-8{ margin-top: var(--distance-8); } /* 2rem */
.mb-8, .my-8{ margin-bottom: var(--distance-8);}
.mt-10, .my-10{ margin-top: var(--distance-10); } /* 2.5rem */
.mb-10, .my-10{ margin-bottom: var(--distance-10);}
.mt-12, .my-12{ margin-top: var(--distance-12); } /* 3rem */
.mb-12, .my-12{ margin-bottom: var(--distance-12);}
.mt-15, .my-15{ margin-top: var(--distance-15); } /* 4rem */
.mb-15, .my-15{ margin-bottom: var(--distance-15);}

.mr-4, .mx-4{ margin-right: var(--distance-4);}
.ml-4, .mx-4{ margin-left: var(--distance-4);}
.mr-6, .mx-6{ margin-right: var(--distance-6);}
.ml-6, .mx-6{ margin-left: var(--distance-6);}


/*Position*/
.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

.overflow-hidden {
    overflow: hidden;
}

.centerXY {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/*Paddings*/
.p-4{ padding: var(--distance-4); }
.p-5{ padding: var(--distance-5); }
.p-6{ padding: var(--distance-6); }
.p-8{ padding: var(--distance-8); }
.p-12{ padding: var(--distance-12); }
.p-15{ padding: var(--distance-15); }

.pr-4, .px-4{padding-right: var(--distance-4) ;}
.pl-4, .px-4{padding-left: var(--distance-4); }
.pr-12, .px-12{ padding-right: var(--distance-12); }
.pl-12, .px-12{ padding-left: var(--distance-12); }


/* Images */

/*Width for the logoimage*/
.logo-width {
    max-width: 13rem;
}

.img-lg-width{ max-width: 60%;}

/* Slideshow */
.slider-width { width: 400%;} /*4 images X 100%*/
/* .slider-animation {animation: 30s slider-keyframes infinite;} */
.slider-container { width: 25%;} /* Display first of 4 images (4images = 100%, 1 image = 25% */
.slider-image { width: 100%; object-fit: cover;}

@keyframes slider-keyframes {
    0% { left: 0%; } 
    15% { left: -100%;}
    30% { left: -200%; }
    45% { left: -300%; }
    60% { left: -200%; }
    75% { left: -100%; }
    100% { left: 0%;}    
}

/*Typography*/
.text-decoration-none{text-decoration: none;}
.text-center { text-align: center; }
.text-uppercase { text-transform: uppercase;}
.text-bold { font-weight: bold;}


.text-size-xxs {font-size: var(--display-xxs);}
.text-size-xs {font-size: var(--display-xs);}
.text-size-sm {font-size: var(--display-sm);}
.text-size-md {font-size: var(--display-md);}
.text-size-lg {font-size: var(--display-lg);}
.text-size-xl {font-size: var(--display-xl);}
.text-size-xxl {font-size: var(--display-xxl);}

/* Line Height */
.lh-sm { line-height: var(--line-height-sm);}
.lh-md { line-height: var(--line-height-md);}
.lh-lg { line-height: var(--line-height-lg);}
.lh-xl { line-height: var(--line-height-xl);}


/*Borders*/
.border-radius {border-radius: var(--border-radius-sm);}

.border-small-white{ border: var(--border-xs-white);}

.border-bottom-xs{ border-bottom: var(--border-xs);}

.border-sm{ border: var(--border-sm); }

.border-lg{ border: var(--border-lg); }


.border-transparent { border: var(--border-transparent);}

/*Circles*/
.circle {
    border-radius: 100%;
}

.circle-lg{ 
    border-radius: 100%;
    width: 15rem;
    height: 15rem;;
}

.circle-xl{ 
    border-radius: 100%;
    width: 25rem;
    height: 25rem;;
}


/*Shadows from our shadow variabels*/
.shadow-sm { box-shadow: var(--shadow-small-light);}
.shadow-lg { box-shadow: var(--shadow-large-light)}

/* Spacing between the navbar linkbuttons */
nav div a:not(:first-child) {
    margin-left: var(--distance-12);
}

/*Badge for buttons*/
.icon-badge {
    top: -8px;
    right: -8px;
    padding: var(--distance-1) var(--distance-3)
}

/* Features and Icons */
.f-width { max-width: 33%;}
.icon-feature { 
    width: 7.6rem;
    height: 7.6rem;
    padding: .375rem;
}
.icon-circle{
    width: 6.2rem;
    height: 6.2rem;
    line-height: 6rem;
}

/* Background Image */
.statistics-image{
    background-image: url("../images/fun-facts/fun-facts-bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}